lambda-sendGrid/node_modules
lambda-sendGrid/samconfig.toml
lambda-sendGrid/packaged.development.yaml
lambda-sendGrid/packaged.staging.yaml
lambda-sendGrid/packaged.production.yaml
lambda-sendGrid/.aws-sam
lambda-sendGrid/lambda-sendGrid.zip

lambda-save-email/node_modules
lambda-save-email/samconfig.toml
lambda-save-email/packaged.development.yaml
lambda-save-email/packaged.staging.yaml
lambda-save-email/packaged.production.yaml
lambda-save-email/.aws-sam