lambdas/lambda-sendGrid/node_modules
lambdas/lambda-sendGrid/samconfig.toml
lambdas/lambda-sendGrid/packaged.development.yaml
lambdas/lambda-sendGrid/packaged.staging.yaml
lambdas/lambda-sendGrid/packaged.production.yaml
lambdas/lambda-sendGrid/.aws-sam
lambdas/lambda-sendGrid/lambda-sendGrid.zip

lambdas/lambda-save-email/node_modules
lambdas/lambda-save-email/samconfig.toml
lambdas/lambda-save-email/packaged.development.yaml
lambdas/lambda-save-email/packaged.staging.yaml
lambdas/lambda-save-email/packaged.production.yaml
lambdas/lambda-save-email/.aws-sam